<h1>Welcome to PairBnB, <%= current_user.email %>!</h1>

<%= link_to "Go to your listing", user_listings_path(current_user.id) %> 

<button type= "button" id= 'button'>Chuck Norris</button>

<div id='jokes'></div>